.wrap {
    font-size: 16px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    border-radius: 100%;
    object-fit: cover;
    width: 128px;
    height: 128px;
}

.sidebar-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sidebar-item-icon {
    width: 24px;
    height: 24px;
    fill: white;
}